alice-fullwork-english.rnc

start = book
book = element book {bookTitle, author, translator*, chapter+}
bookTitle = element bookTitle {text}
author = element author {text}
translator = element translator {text}
chapter = element chapter {n, chapterTitle, p+}
n = attribute n {text}
chapterTitle = element title {text}
p = element p {text}