text_files/alice-fullwork.rnc

start = book
book = element book { bookTitle, author, translator*, chapter+ }
bookTitle = element bookTitle { text }
author = element author { text }
translator = element translator { text }
chapter = element chapter { n, chapterTitle, ( p | break )+ }
n = attribute n { text }
chapterTitle = element title { text }
break = element break { text }
p =
    element p {
        mixed { (parenthesis | word | phrase | rp | song | emp | foreign)* }
    }
parenthesis =
    element parenthesis {
        mixed { (word | phrase | emp)* }
    }
word = element word { kind, text }
kind = attribute kind { "iu" | "ns" | "uc" | "pow" }
phrase = element phrase { type, text }
type = attribute type { "iu" | "ns" | "uc" | "pow" }
rp = element rp { rpn, mixed { rhyme+ } }
rpn = attribute rpn { xsd:int }
rhyme = element rhyme { rn, def, text }
def = attribute def { "true" | "trans" }
rn = attribute rn { xsd:int }
song =
    element song {
        mixed { (rhyme | word | phrase | stanza)* }
    }
stanza = element stanza { text }
emp = element emp { text }
foreign = element foreign { language, text }
language = attribute language { text }
